.place-card__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.place-card__link:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}
