.intro__text {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  padding-bottom: 33px;
  padding-right: 284px;
  max-width: 690px;
}

@media screen and (max-width: 425px) {
  .intro__text {
    padding-bottom: 34px;
  }
}
