.place-card__image {
  width: 100%;
  height: 100%;
  grid-area: place-card__image;
}

@media screen and (max-width: 1024px) {
.place-card__image {
  width: 440px;
  height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place-card__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 425px) {
  .place-card__image {
    width: 320px;
    height: 320px;
  }
}
