.place-card {
  display: grid;
  grid-template-columns: 460fr 484fr;
  grid-auto-rows: max-content;
  gap: 48px 40px;
  grid-template-areas:
    "place-card__title place-card__website"
    "place-card__image place-card__text";
  padding-bottom: 80px;
}

.place-card:last-of-type {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place-card {
    grid-template-columns: 440fr 456fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place-card {
    grid-template-columns: 340fr 352fr;
    column-gap: 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 720px) {
  .place-card {
    grid-template-areas:
    "place-card__title"
    "place-card__website"
    "place-card__image"
    "place-card__text";
    grid-template-columns: 1fr;
    row-gap: 32px;
    padding-bottom: 50px;
  }
}

